*{
    margin: 0;
    padding: 0;
}

body{font-family:'Montserrat', sans-serif;
}

/* nabar */
nav{
    display: flex;
    background-color: hsl(210, 1%, 45%);   
    justify-content: space-around; 
    padding: 20px 0;
    color: hsl(220, 18%, 97%) ;
      
}

nav .logo{
    font-family:'Pacifico', cursive; ;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;


}
nav ul li a {
    color: hsl(180, 3%, 6%);
    text-decoration: none ;
    font-size: 1em;

}

nav ul li a:hover {
    color:hsl(220, 4%, 15%) ;
}

footer{
    padding: 30px 0;
    background-color:hsl(210, 1%, 45%)  ; 
    color: white;
}
